[submodule "lib/devstack"]
	path = lib/devstack
	url = https://github.com/openstack-dev/devstack
[submodule "awesome/awesome-selfhosted"]
	path = awesome/awesome-selfhosted
	url = https://github.com/Kickball/awesome-selfhosted
[submodule "awesome/awesome-doc/linuxtools_rst"]
	path = awesome/awesome-doc/linuxtools_rst
	url = https://github.com/me115/linuxtools_rst
[submodule "conf/service/natapp/natapp_autostart"]
	path = conf/service/natapp/natapp_autostart
	url = https://github.com/natapp/natapp_autostart
[submodule "lib/networking-ovs-dpdk"]
	path = lib/networking-ovs-dpdk
	url = https://github.com/openstack/networking-ovs-dpdk
[submodule "tools/sshrc"]
	path = tools/sshrc
	url = https://github.com/Russell91/sshrc
[submodule "computer/initscripts"]
	path = computer/initscripts
	url = https://github.com/fedora-sysv/initscripts
[submodule "computer/chkconfig"]
	path = computer/chkconfig
	url = https://github.com/fedora-sysv/chkconfig
[submodule "computer/systemd"]
	path = computer/systemd
	url = https://github.com/systemd/systemd
[submodule "computer/grub"]
	path = computer/grub
	url = git://git.savannah.gnu.org/grub.git
[submodule "computer/virt/libguestfs"]
	path = computer/virt/libguestfs
	url = https://github.com/libguestfs/libguestfs
[submodule "computer/virt/virt-manager"]
	path = computer/virt/virt-manager
	url = https://github.com/virt-manager/virt-manager
[submodule "computer/virt/qemu"]
	path = computer/virt/qemu
	url = https://github.com/qemu/qemu
[submodule "computer/profile/perf-tools"]
	path = computer/profile/perf-tools
	url = https://github.com/brendangregg/perf-tools
[submodule "computer/profile/bcc"]
	path = computer/profile/bcc
	url = https://github.com/brendangregg/bcc
[submodule "computer/profile/FlameGraph"]
	path = computer/profile/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "computer/compiler/cbc-ubuntu-64bit"]
	path = computer/compiler/cbc-ubuntu-64bit
	url = https://github.com/leungwensen/cbc-ubuntu-64bit
